.container {
  width: 200px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.activeTag {
  font-size: 12px;
  padding: 6px 16px;
}

.inactiveTag {
  font-size: 12px;
  padding: 6px 16px;
}

.adviserTag {
  font-size: 12px;
  padding: 4px 8px;
  display: block;
  width: 100%;
  white-space: normal;
  word-break: break-word;
  text-align: center;
}
